In [11]:
#import librairies
import pandas as pd
import numpy as np

In [12]:
#add all data in one dataframe
df = pd.concat(
    map(pd.read_csv, ['src/uber-raw-data-apr14.csv', 'src/uber-raw-data-may14.csv', 'src/uber-raw-data-jun14.csv','src/uber-raw-data-jul14.csv', 'src/uber-raw-data-aug14.csv','src/uber-raw-data-sep14.csv']))

In [13]:
# Basic stats
print("Number of rows : {}".format(df.shape[0]))
print()

print("Display of dataset: ")
display(df.head())
print()

print("Basics statistics: ")
data_desc = df.describe(include='all')
display(data_desc)
print()

print("Percentage of missing values: ")
display(100*df.isnull().sum()/df.shape[0])

Number of rows : 4534327

Display of dataset:

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

Basics statistics:

                Date/Time           Lat           Lon     Base
count             4534327  4.534327e+06  4.534327e+06  4534327
unique             260093           NaN           NaN        5
top     4/7/2014 20:21:00           NaN           NaN   B02617
freq                   97           NaN           NaN  1458853
mean                  NaN  4.073926e+01 -7.397302e+01      NaN
std                   NaN  3.994991e-02  5.726670e-02      NaN
min                   NaN  3.965690e+01 -7.492900e+01      NaN
25%                   NaN  4.072110e+01 -7.399650e+01      NaN
50%                   NaN  4.074220e+01 -7.398340e+01      NaN
75%                   NaN  4.076100e+01 -7.396530e+01      NaN
max                   NaN  4.211660e+01 -7.206660e+01      NaN

Percentage of missing values:

Date/Time    0.0
Lat          0.0
Lon          0.0
Base         0.0
dtype: float64

In [14]:
# transform  the colum "Date/Time" in datetime and create new columns(day, hour and week day)
df.loc[:, "Date/Time"] = pd.to_datetime(df["Date/Time"])
df.loc[:,"Month"] = df["Date/Time"].dt.month
df.loc[:, "Day"] = df["Date/Time"].dt.day
df.loc[:, "Hour"] = df["Date/Time"].dt.hour
weekdays_dict = {
    0: 'Monday',
    1: 'Tuesday',
    2: 'Wednesday',
    3: 'Thursday',
    4: 'Friday',
    5: 'Saturday',
    6: 'Sunday'
}
df.loc[:, "Weekday"] = df["Date/Time"].dt.weekday.map(weekdays_dict)
df = df.drop('Date/Time', axis = 1)

df.head()

C:\Users\dunca\AppData\Local\Temp\ipykernel_10448\4040250762.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, "Date/Time"] = pd.to_datetime(df["Date/Time"])

       Lat      Lon    Base  Month  Day  Hour  Weekday
0  40.7690 -73.9549  B02512      4    1     0  Tuesday
1  40.7267 -74.0345  B02512      4    1     0  Tuesday
2  40.7316 -73.9873  B02512      4    1     0  Tuesday
3  40.7588 -73.9776  B02512      4    1     0  Tuesday
4  40.7594 -73.9722  B02512      4    1     0  Tuesday

In [15]:
#separate the month for try to see difference
df_avril = df[df['Month'] == 4]
df_mai = df[df['Month'] == 5]

       Lat      Lon    Base  Month  Day  Hour  Weekday
0  40.7690 -73.9549  B02512      4    1     0  Tuesday
1  40.7267 -74.0345  B02512      4    1     0  Tuesday
2  40.7316 -73.9873  B02512      4    1     0  Tuesday
3  40.7588 -73.9776  B02512      4    1     0  Tuesday
4  40.7594 -73.9722  B02512      4    1     0  Tuesday

In [ ]:
list_Month  =['avril', 'mai', 'juin', 'juillet', 'aout', 'septembre']
for month in len(list_Month):